#page-landing{
    background-color: var(--color-primary);
    flex-direction: column;
}

#page-landing #container{
    color: var(--color-text-in-primary);
}

.logo-container img{
    height: 10rem;
}

.logo-container{
    text-align: center;
    margin: 3.2rem;
}

.logo-container h2{
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

/* .hero-image{
    width: 100%;
} */

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a{
    width: 29rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);
}

.buttons-container a img{
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study{
    background: var(--color-primary-lighter);
}

.buttons-container a.study:hover{
    background: var(--color-primary-light);
}

.buttons-container a.give-classes{
    background: var(--color-secondary);
    margin-right: 0;
}

.buttons-container a.give-classes:hover{
    background: var(--color-secondary-dark);
}

.total-connections{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    text-align: right;
    width: 210px;
}

.total-connections img{
    margin-left: 0.8rem;
    padding-top: center ;
}

@media (max-width: 1100px){
    :root{
        font-size: 40%; /*modificar as medidas rem*/
    }

    .hero-image{
        height: 45rem;
    }
}

@media (min-width: 700px){
    #page-landing #container{
        margin: 12rem 160px 65px 160px;
        max-width: 1120px;
        max-height: 440px;
        display: grid;
        grid-template-rows: 350px;
        grid-template-areas: 
        "proffy image image image";
        column-gap: 80px;
        row-gap: 86px;
    }
    #page-landing #top{
        background-color: var(--color-background);
        width: 100%;
        justify-content: center;
        display: flex;
        max-height: 330px;
    }

    #page-landing #top #top-border{
        max-width: 1120px;
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 2fr 2.5fr 2.5fr;
        grid-template-rows: 287px;
        grid-template-areas: 
        "texting texting button button";
        /* column-gap: 80px; */
        row-gap: 86px;
    }

    .logo-container{
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        margin:0;
    }

    .logo-container img{
        height: 127px;
    }

    .hero-image{
        grid-area: image;
        height: 350px;
        justify-self: right;
    }

    .buttons-container{
        grid-area: button;
        justify-self: right;
        margin:0;
    }

    .total-connections{
        grid-area: texting;
        justify-self: end;
        margin-right: 7.3rem;
    }

    .welcome{
        grid-area: texting;
        font-size: 2rem;
        text-align: initial;
        align-self: center;
    }

    
}